{{ define "title" }}[{{.GroupLabels.cluster}} {{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .GroupLabels.alertname }}{{ end }}

{{ define "slack.alerts.text" }}
    {{ range .Alerts }}
*Severity:* {{ if eq .Labels.severity "critical" }}`{{ .Labels.severity }}`{{ else }}_{{ .Labels.severity }}_{{ end }}
*Description:* {{ if eq .Labels.severity "critical" }}*```{{ .Annotations.description }}```*{{else}}```{{ .Annotations.description }}```{{end}}
*Prometheus Graph:* <{{ .GeneratorURL }}|:chart_with_upwards_trend:>
    {{ end }}
{{ end }}

{{ define "slack.alerts.title" }}{{ template "title" . }}{{ end }}

{{ define "slack.alerts.color" }}{{ if eq .GroupLabels.severity "critical" }}danger{{ else }}warning{{ end }}{{ end }}